<h1>Welcome!</h1>
<form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label for='user[first_name]'>First Name</label>
    <input type='text' name='user[first_name]'>
    <br>
    <p></p>
    <label for='user[last_name]'>Last Name</label>
    <input type='text' name='user[last_name]'>
    <br>
    <p></p>
    <label for='user[email]'>Email</label>
    <input type='text' name='user[email]'>
    <br>
    <p></p>
    <label for='user[password]'>Password</label>
    <input type='password' name='user[password]'>
    <br>
    <p></p>
    <input type='submit' value="Register">
</form>

<form action="/sessions" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p></p>
    <label for='email'>Email</label>
    <input type='text' name='email'>
    <br>
    <p></p>
    <label for='password'>Password</label>
    <input type='password' name='password'>
    <br>
    <p></p>
    <input type='submit' value="Login">
</form>

<% if flash[:errors]%>
<% flash[:errors].each do |e|%>
    <p><%=e%></p> 
<%end%>
<%end%>